<mat-toolbar color="primary">
  
  <span>News Feed</span>  
  <span class="example-spacer"></span>
 
</mat-toolbar>
<div class="article-div" *ngFor=" let article of Articles | slice:0:30" style="flex-direction: column; padding-bottom: 0px; padding-top: 0px;">
<article>
  <header>
    <div>
      <canvas height="42" width="42" style="position: absolute; top: -5px; left: -5px; width: 42px; height: 42px;"></canvas>
      <a href="">
        <img src="">
      </a>
    </div>
    <div class="article-intro">
      {{article.id}}
    </div>
  </header>
  <div >
    <img src="{{article.thumbnail}}" alt="">
  </div>
  <div class="article-intro">
    <section></section>
    <section class="article-intro">
      <button mat-button color="primary"><mat-icon>favorite_border</mat-icon></button>
      <button mat-button color="primary"><mat-icon>comment</mat-icon> Comments</button>
      <button mat-button color="primary"><mat-icon>share</mat-icon> Share</button>
    </section>
    <div class="article-intro">
      12 likes
    </div>
    <div class="article-intro">
      {{article.title|slice:0:50}}
      <br>.
      <br>.
      <br>... <button (click)="show()">more</button>
      <div *ngIf="expanded">
        {{article.title}}
       </div>
      </div>
    <section>

    </section>
  </div>
</article>
</div>