<mat-toolbar color="primary">
  
  <span>News Feed</span>  
  <span class="example-spacer"></span>
 
</mat-toolbar>

<!-- 
  
  <mat-card class="example-card"  *ngFor="let article of mArticles">
    <mat-card-header>
      <div mat-card-avatar [ngStyle]="{'background-image': 'url(../assets/images/'+ article.highthumbnail +'.jpg)'}" class="example-header-image"></div>
      <mat-card-title class="title">{{article.title}}</mat-card-title>
      <mat-card-subtitle>{{article.source.name}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="img-article" src={{article.urlToImage}} alt="">
    <mat-card-content>
      <p>
        {{article.description}}
      </p>
    </mat-card-content>
    <mat-card-actions class="action-buttons">
      <button mat-button color="primary"><mat-icon>thumb_up_alt</mat-icon> 12 Likes</button>
      <button mat-button color="primary"><mat-icon>comment</mat-icon> Comments</button>
      <button mat-button color="primary"><mat-icon>share</mat-icon> Share</button>
      <a mat-button color="primary" href={{article.url}} target="_blank" ><mat-icon>visibility</mat-icon> More</a>
    </mat-card-actions>
  </mat-card> -->

<div class="article-div" *ngFor=" let article of Articles" style="flex-direction: column; padding-bottom: 0px; padding-top: 0px;">
<article>
  <header>
    <div>
      <canvas class="CfWVH" height="42" width="42" style="position: absolute; top: -5px; left: -5px; width: 42px; height: 42px;"></canvas>
    </div>
    <div>
      {{article.title}}
    </div>
  </header>
  <div>
    <img src="" alt="">
  </div>
  <div>
    <section></section>
    <section>
    </section>
    <div>

    </div>
    <div></div>
    <section>

    </section>
  </div>
</article>
</div>